Package: fk-redis-relayer
Version: VERSION 
Section: web
Priority: Optional
Architecture: all
Essential: no
Depends: oracle-j2sdk1.8
Installed-Size: 1000
Maintainer: Saurabh Agrawal saurabh.agrawal@flipkart.com
Description: Redis Relayer
